.home-page {
    display: flex;
    justify-content: center;

    overflow-y: auto;
    

    padding-top: 20px;
}

.home-page::-webkit-scrollbar {
    width: 2px;
}

.home-page-content {
    width: 65%;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

