.footer {
    background-color: #bdc3c7;

    height: 40px;
    grid-area: footer;

    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

span strong span {
    color: #2980b9;
}